#enable initrd GZipped
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
#in order to build out of tree loadable addons
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
#usefull
CONFIG_SYSCTL=y
CONFIG_SYSFS_SYSCALL=y
CONFIG_PRINTK=y
CONFIG_POWER_SUPPLY=y
CONFIG_HW_RANDOM=y
CONFIG_HW_RANDOM_VIRTIO=y
CONFIG_IRQCHIP=y
CONFIG_NVMEM=y
CONFIG_NVMEM_SYSFS=y
CONFIG_LIBFDT=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_FILE_LOCKING=y
CONFIG_OVERLAY_FS=y
#hotplug
CONFIG_UEVENT_HELPER=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_FW_LOADER=m
CONFIG_INPUT_EVDEV=m
#device tree
CONFIG_DTC=y
CONFIG_OF=y
CONFIG_OF_OVERLAY=y
#what if NO?
CONFIG_ELF_CORE=y
CONFIG_BINFMT_ELF=y
CONFIG_ELFCORE=y
CONFIG_CORE_DUMP_DEFAULT_ELF_HEADERS=y
CONFIG_BINFMT_SCRIPT=y
#important for debug because nokaslr does not work some time
CONFIG_RANDOMIZE_BASE=n
#we do not care about size but we need all symbols and debug
CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y
CONFIG_KALLSYMS_BASE_RELATIVE=y
CONFIG_STRICT_KERNEL_RWX=y
CONFIG_STRICT_MODULE_RWX=y
CONFIG_HAVE_GCC_PLUGINS=y
CONFIG_DEBUG_INFO=y
CONFIG_GDB_SCRIPTS=y
CONFIG_DEBUG_KERNEL=y
CONFIG_STACKTRACE=y
CONFIG_CRASH_DUMP=y
CONFIG_COREDUMP=y
CONFIG_KPROBES=y
CONFIG_DEBUG_SECTION_MISMATCH=y

#disable not needed defauts
CONFIG_INPUT_MOUSE=n

#memory allocator. take it easy
CONFIG_SLOB=y
CONFIG_COMPAT_BRK=y
CONFIG_INIT_ON_ALLOC_DEFAULT_ON=n
CONFIG_INIT_ON_FREE_DEFAULT_ON=n
#qemu boosters
CONFIG_VIRTUALIZATION=y

#power management
CONFIG_SUSPEND=y
CONFIG_PM_SLEEP=y
CONFIG_PM=y

#base network support and dependency for 9p
CONFIG_NET=y
CONFIG_GENERIC_NET_UTILS=y
CONFIG_INET=y
CONFIG_IPV6=n
CONFIG_GENERIC_PHY=y

#UDS support
CONFIG_UNIX=y
#9p/virtio is qemu filesharing approach
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_FS_POSIX_ACL=y
CONFIG_9P_FS=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_9P_FS_SECURITY=n
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y

#networking
CONFIG_NETDEVICES=y
CONFIG_ETHERNET=y
CONFIG_VIRTIO_NET=y
CONFIG_NETCONSOLE=n
CONFIG_NETDEVSIM=n
CONFIG_NET_CORE=y
CONFIG_NET_DSA=n
CONFIG_NET_FAILOVER=y
CONFIG_NET_TEAM=n
CONFIG_NET_VENDOR_3COM=n
CONFIG_NET_VENDOR_ADAPTEC=n
CONFIG_NET_VENDOR_AGERE=n
CONFIG_NET_VENDOR_ALACRITECH=n
CONFIG_NET_VENDOR_ALTEON=n
CONFIG_NET_VENDOR_AMAZON=n
CONFIG_NET_VENDOR_AMD=n
CONFIG_NET_VENDOR_AQUANTIA=n
CONFIG_NET_VENDOR_ARC=n
CONFIG_NET_VENDOR_ATHEROS=n
CONFIG_NET_VENDOR_AURORA=n
CONFIG_NET_VENDOR_BROADCOM=n
CONFIG_NET_VENDOR_BROCADE=n
CONFIG_NET_VENDOR_CADENCE=n
CONFIG_NET_VENDOR_CAVIUM=n
CONFIG_NET_VENDOR_CHELSIO=n
CONFIG_NET_VENDOR_CIRRUS=n
CONFIG_NET_VENDOR_CISCO=n
CONFIG_NET_VENDOR_CORTINA=n
CONFIG_NET_VENDOR_DEC=n
CONFIG_NET_VENDOR_DLINK=n
CONFIG_NET_VENDOR_EMULEX=n
CONFIG_NET_VENDOR_EZCHIP=n
CONFIG_NET_VENDOR_FARADAY=n
CONFIG_NET_VENDOR_GOOGLE=n
CONFIG_NET_VENDOR_HISILICON=n
CONFIG_NET_VENDOR_HP=n
CONFIG_NET_VENDOR_HUAWEI=n
CONFIG_NET_VENDOR_INTEL=n
CONFIG_NET_VENDOR_MARVELL=n
CONFIG_NET_VENDOR_MELLANOX=n
CONFIG_NET_VENDOR_MICREL=n
CONFIG_NET_VENDOR_MICROCHIP=n
CONFIG_NET_VENDOR_MICROSEMI=n
CONFIG_NET_VENDOR_MYRI=n
CONFIG_NET_VENDOR_NATSEMI=n
CONFIG_NET_VENDOR_NETERION=n
CONFIG_NET_VENDOR_NETRONOME=n
CONFIG_NET_VENDOR_NI=n
CONFIG_NET_VENDOR_NVIDIA=n
CONFIG_NET_VENDOR_OKI=n
CONFIG_NET_VENDOR_PACKET_ENGINES=n
CONFIG_NET_VENDOR_PENSANDO=n
CONFIG_NET_VENDOR_QLOGIC=n
CONFIG_NET_VENDOR_QUALCOMM=n
CONFIG_NET_VENDOR_RDC=n
CONFIG_NET_VENDOR_REALTEK=n
CONFIG_NET_VENDOR_RENESAS=n
CONFIG_NET_VENDOR_ROCKER=n
CONFIG_NET_VENDOR_SAMSUNG=n
CONFIG_NET_VENDOR_SEEQ=n
CONFIG_NET_VENDOR_SILAN=n
CONFIG_NET_VENDOR_SIS=n
CONFIG_NET_VENDOR_SMSC=n
CONFIG_NET_VENDOR_SOCIONEXT=n
CONFIG_NET_VENDOR_SOLARFLARE=n
CONFIG_NET_VENDOR_STMICRO=n
CONFIG_NET_VENDOR_SUN=n
CONFIG_NET_VENDOR_SYNOPSYS=n
CONFIG_NET_VENDOR_TEHUTI=n
CONFIG_NET_VENDOR_TI=n
CONFIG_NET_VENDOR_VIA=n
CONFIG_NET_VENDOR_WIZNET=n
CONFIG_NET_VENDOR_XILINX=n
CONFIG_NLMON=n
CONFIG_OF_NET=y
CONFIG_USB_NET_DRIVERS=n

#MMC
CONFIG_MMC=y
CONFIG_MDIO_DEVICE=n
CONFIG_MICREL_KS8995MA=n
CONFIG_MMC_ARMMMCI=n
CONFIG_MMC_CB710=n
CONFIG_MMC_CQHCI=y
CONFIG_MMC_DEBUG=n
CONFIG_MMC_DW=n
CONFIG_MMC_MTK=n
CONFIG_MMC_RICOH_MMC=n
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_MMC_SDHCI_IO_ACCESSORS=y
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_MMC_SDHCI_OF_ASPEED=n
CONFIG_MMC_SDHCI_OF_AT91=n
CONFIG_MMC_SDHCI_OF_DWCMSHC=n
CONFIG_MMC_SDHCI_OMAP=n
CONFIG_MMC_SDHCI_PCI=y
CONFIG_MMC_SDHCI_PLTFM=y
CONFIG_MMC_SDHCI_XENON=n
CONFIG_MMC_SPI=y
CONFIG_MMC_TEST=n
CONFIG_MMC_TIFM_SD=n
CONFIG_MMC_TOSHIBA_PCI=n
CONFIG_MMC_USDHI6ROL0=n
CONFIG_MMC_USHC=y
CONFIG_MMC_VIA_SDMMC=n
CONFIG_MMC_VUB300=n


#userspace IO support
CONFIG_UIO=y
#/dev/mem support
CONFIG_DEVMEM=y
CONFIG_IO_STRICT_DEVMEM=n
CONFIG_STRICT_DEVMEM=y

#qemu console with nographics
CONFIG_TTY=y
CONFIG_SERIAL_EARLYCON=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_DEPRECATED_OPTIONS=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_NULL_TTY=y
#buses
CONFIG_CAN=y
CONFIG_PCI=y
CONFIG_I2C=y
CONFIG_I2C_SLAVE=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_SLAVE_EEPROM=y
CONFIG_SPI=y
CONFIG_SPI_MASTER=y
CONFIG_SPI_SLAVE=y
CONFIG_SPI_MEM=y
CONFIG_GPIOLIB=y
CONFIG_GPIO_SYSFS=y
CONFIG_GPIO_MOCKUP=m
CONFIG_USB_SUPPORT=y
CONFIG_USB_COMMON=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_USB=y
CONFIG_USB_PCI=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_ROLE_SWITCH=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB_XHCI_PLATFORM=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_TT_NEWSCHED=y
CONFIG_USB_EHCI_PCI=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_OHCI_HCD_PCI=y
CONFIG_USB_OHCI_HCD_PLATFORM=y
CONFIG_USB_UHCI_HCD=y
CONFIG_USB_ACM=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_CONSOLE=y
CONFIG_USB_SERIAL_GENERIC=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_CONFIGFS_FS=m
CONFIG_USB_GADGET=y
CONFIG_USB_F_ACM=m
CONFIG_USB_F_OBEX=m
CONFIG_USB_F_SERIAL=m
CONFIG_USB_GADGETFS=m
CONFIG_USB_G_SERIAL=m
CONFIG_USB_LIBCOMPOSITE=m
CONFIG_USB_U_SERIAL=m

#META filesystems
CONFIG_PROC_FS=y
CONFIG_PROC_VMCORE=y
CONFIG_PROC_SYSCTL=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_PROC_CHILDREN=y
CONFIG_KERNFS=y
CONFIG_SYSFS=y
CONFIG_NETWORK_FILESYSTEMS=y
#logging
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=10
CONFIG_CONSOLE_LOGLEVEL_QUIET=4
CONFIG_MESSAGE_LOGLEVEL_DEFAULT=5
CONFIG_PRINTK_TIME=y

#sample modules
CONFIG_SAMPLES=y
CONFIG_SAMPLE_KFIFO=m
CONFIG_SAMPLE_KOBJECT=m
CONFIG_SAMPLE_KPROBES=m
CONFIG_SAMPLE_KRETPROBES=m

# We need enable CONFIG_GPIOLIB_IRQCHIP for use irq in gpiochip
# dependency CONFIG_HID_GENERIC->CONFIG_HIDRAW->
# ->CONFIG_HID_CP2112->CONFIG_GPIOLIB_IRQCHIP
# also we may enable special PINCTL for any SoC, but it is HW depend
CONFIG_HID_GENERIC=y
CONFIG_HIDRAW=y
CONFIG_HID_CP2112=y

CONFIG_SPI_SPIDEV=m
CONFIG_SPI_LOOPBACK_TEST=m

